{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Withe&Black</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'movie.css' %}">

</head>
<body>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="content">
              <div class="panel panel-default">
                  <div class="panel-heading">{{ movie.title }}</div>
                  <div class="panel-body">
                      <a href="#" class="thumbnail">
                        <img src="{{ movie.jpg }}" alt="...">
                      </a>
                      <div class="download">
                        <p>
                          <a href="{{ movie.download }}">
                            <font style="color:red;">下载地址：{{ movie.download }}</font>
                          </a>
                        </p>
                      </div>
                  </div>
              </div>
          </div>
</body>
</html>