{% extends 'headers.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block PM25_active %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="header col-xs-6">
            <div class="aqi_title">
                <p>忘记什么时候，用颜色代表空气</p>
                <img src="{% static 'aqi.png' %}">
            </div>
            <form method="get" action="{% url 'pa' %}">
                {% csrf_token %}
                <div class="search-bar clearf">
                    <input type="search" placeholder="城市名" name="city">
                    <button type="submit">查询</button>
                </div>
            </form>
        </div>
        <div class="col-xs-3"></div>
    </div>
     {% block context %}{% endblock %}
{% endblock %}

