<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pm</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'pa' %}">
        {% csrf_token %}
      <div class="form-group">
        <input type="search" class="form-control" placeholder="电影" name="city">
        <button type="submit" class="btn btn-default">搜索</button>
      </div>
    </form>
    {% block content %}{% endblock %}
</body>
</html>